
@font-face {
    font-family: 'OngleipRyuryu';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_ryurue-Rg.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

body {
    background-image: url('/sketchbook.jpg');
    background-size: cover;
    font-family: 'OngleipRyuryu', sans-serif;
    margin: 0;
}